@import "colors.css";

* {
    border: none;
    font-family: "CaskaydiaCove Nerd Font Propo", "CaskaydiaCove Nerd Font";
    font-size: 14px;

    min-height: 0;
    margin: 0;
    padding: 0;
}


window#waybar {
    color: @on_surface;
    background: transparent;
    border-radius: 10px;
}
window#waybar.empty {
    background: @inverse_primary;
}

tooltip {
    background: @secondary;
    border: 1px solid rgba(80, 80, 80, 0.5);
}

tooltip label {
    color: @on_secondary;
}

#workspaces button {
    transition: all 250ms ease-in-out;
    padding: 0 4px;
    margin: 0 2px;


    background-color: @inverse_primary;
    color: @on_inverse_primary;

    border-radius: 100px;
}
#workspaces button.empty {
    background-color: @secondary;
    color: @on_secondary;
}
#workspaces button.active {
    min-width: 45px;

    background-color: @primary;
    color: @on_primary;

    border-radius: 100px;
}


#battery,
#pulseaudio,
#network,
#clock {
    background-color: @primary;
    color: @on_primary;

            /* vertical    horizontal */
    padding:    0           12px;
    margin:     0           4px;

    border-radius: 100px;

    font-weight: 700;
}


#battery {
    margin-right: 0;
}
#battery.charging {
    background: @primary;
    color: @on_primary;
}
#battery.discharging {
    background: @primary;
    color: @on_primary;
}
#battery.full {
    background: rgba(55, 243, 136, 0.8);
    color: #eaeaea;
}
#battery.warning {
    background: rgba(250, 208, 103, 0.8);
    color: #121212;
}
#battery.critical {
    background: rgba(254, 126, 126, 0.8);
    color: #121212;
}

#power-profiles-daemon {
    padding: 4px 4px;
    margin: 0 4px;

    border-radius: 24px;
}
#power-profiles-daemon.performance {
    background: @primary;
    color: @on_primary;

    padding: 4px 6px;
}
#power-profiles-daemon.balanced {
    background: @secondary;
    color: @on_secondary;
}
#power-profiles-daemon.power-saver {
    background: @tertiary;
    color: @on_tertiary;

    padding: 4px 5px;

}

#bluetooth {
    padding: 0 8px;
    margin-left: 4px;

    background: @secondary;
    color: @on_secondary;

    border-radius: 48px;
}
#bluetooth.connected {
    background: @primary;
    color: @on_primary;
}

