* {
    border: none;
    font-family: "CaskaydiaCove Nerd Font Propo", "CaskaydiaCove Nerd Font";
    font-size: 13px;

    min-height: 0;
    margin: 0;
    padding: 0;
}


window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #e5e5e5;
    border-radius: 10px;
}

tooltip {
    background: rgba(30, 30, 30, 0.8);
    border: 1px solid rgba(80, 80, 80, 0.5);
}

tooltip label {
    color: #d0d0d0;
}

#workspaces button {
    transition: all 250ms ease-in-out;
    padding: 0 2px;
    margin: 2px;

    background: rgba(106, 106, 106, 0.8);
    color: #ffffff;

    border-radius: 50px;
}

#workspaces button.active {
    min-width: 45px;
    background-color: rgba(175, 175, 175, 0.8);
    /* color: #5f5d5d; */
    border-radius: 100px;
}

#clock {
    background-color: rgba(106, 106, 106, 0.8);
    color: #eaeaea;

    padding: 0 16px;

    border-radius: 8px;

    font-weight: 700;
}

#battery,
#pulseaudio,
#network {
    background: rgba(61, 61, 61, 0.8);
    color: #e5e5e5;

            /* vertical    horizontal */
    padding:    0           8px;
    margin:     0           4px;

    border-radius: 8px;
}

#pulseaudio {
    background: rgba(106, 106, 106, 0.8);
    color: #e5e5e5;
}

#network {
    background: rgba(106, 106, 106, 0.8);
    color: #e5e5e5;
}

#battery {
    background-color: rgba(106, 106, 106, 0.8);
    color: #eaeaea;

    padding: 0 8px;
    margin-right: 4px;
}
#battery.charging {
    background: rgba(103, 250, 103, 0.8);
    color: #121212;
}
#battery.discharging {
    background: rgba(106, 106, 106, 0.8);
    color: #eaeaea;
}
#battery.full {
    background: rgba(55, 243, 136, 0.8);
    color: #eaeaea;
}
#battery.warning {
    background: rgba(250, 208, 103, 0.8);
    color: #121212;
}
#battery.critical {
    background: rgba(254, 126, 126, 0.8);
    color: #121212;
}

#power-profiles-daemon {
    padding: 4px 4px;
    margin: 0 4px;

    background: rgba(90, 90, 90, 0.8);
    color: #eaeaea;
    
    border-radius: 24px;
}
#power-profiles-daemon.performance {
    color: #121212;
    background: rgba(251, 243, 16, 0.8);
}
#power-profiles-daemon.balanced {
    background: rgba(251, 173, 64, 0.8);
}
#power-profiles-daemon.power-saver {
    background: rgba(89, 215, 253, 0.8);
    color: #121212
}

#bluetooth {
    padding: 0 8px;
    color: #e5e5e5;
    margin-left: 4px;

    background: rgba(106, 106, 106, 0.8);
    color: #eaeaea;

    border-radius: 48px;

    /* font-size: 12px; */
}
#bluetooth.connected {
    background: rgba(130, 255, 238, 0.8);
    color: #eaeaea;
}
#bluetooth.disconnected {
    background: rgba(150, 150, 150, 0.8);
    color: #eaeaea;
}

